# See https://help.github.com/articles/ignoring-files/ for more about ignoring files
node_modules/
dist/
dist-server/
.angular
.env
.vscode
*.log
*.swp
*.pyc
/coverage
/tmp
/out-tsc
npm-debug.log*
yarn-debug.log*
yarn-error.log*