<header class="header">
  <div class="header-container">
    <div class="logo" (click)="navigateTo('')">
      <span class="logo-text">Mi Tienda</span>
    </div>
    
    <div class="nav-toggle" (click)="toggleNav()">
      <div class="bar" [class.active]="isNavOpen"></div>
      <div class="bar" [class.active]="isNavOpen"></div>
      <div class="bar" [class.active]="isNavOpen"></div>
    </div>
    
    <nav class="nav" [class.open]="isNavOpen">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/" (click)="isNavOpen = false">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" [queryParams]="{category: 'Electrónicos'}" (click)="isNavOpen = false">Electrónicos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" [queryParams]="{category: 'Deportes'}" (click)="isNavOpen = false">Deportes</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" [queryParams]="{category: 'Hogar'}" (click)="isNavOpen = false">Hogar</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" [queryParams]="{category: 'Moda'}" (click)="isNavOpen = false">Moda</a>
        </li>
      </ul>
    </nav>
    
    <div class="cart-button" (click)="navigateTo('cart')">
      <span class="cart-icon">🛒</span>
      <span class="cart-badge" *ngIf="(cartCount$ | async)! > 0">{{ cartCount$ | async }}</span>
    </div>
  </div>
</header>